<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar Valor para Microserviço</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form method="POST">
        <label for="valor">Valor:</label>
        <input type="text" id="valor" name="valor" placeholder="Digite um valor">
        <br>
        <label for="valor">Nome:</label>
        <input type="text" id="Nome" name="Nome" placeholder="Digite um nome completo">
    </br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>